// define color

$primarycolor = {
  //'green': #21ce90,//工具栏绿色
  //'red': #f35833,//错误等信息显示的红色
  //'gray': #212122,//主体背景色，黑色
  //'font': #FFFFFF//字段主要颜色，白色
  'green': #333333,//工具栏black
  'red': #f35833,//错误等信息显示的红色
  'gray': #FFFFFF,//主体背景色，白色
  'font': #333333,//字段主要颜色，黑色
  'blue': #3367d6
}

$secondarycolor = {
  //'green': #216549,//深绿色
  'green': #00b0ff,//深绿色
  'red': #733520,//深红色
  //'gray': #303034,//底部工具栏背景色
  'font': #999999,//字体颜色，底部工具栏字体等默认颜色
  'blue': #3367d6,
  'gray': #FFFFFF//底部工具栏白色
  //'gray': #3367d6//底部工具栏白色
}
